<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online flowers and gifts shopping</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <img alt="" src="~/images/Capture2.PNG" align="top" />
  
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a style="color: magenta" class="navbar-brand" href="#">GIFTS AND FLOWERS</a>
            <ul class="nav navbar-nav">
                <li class="active"><a style="color: indigo" href="/Main/Main">Home</a> </li>
                <li><a style="color: red" href="/Home/About">About Us</a></li>
                <li class="active" ><a style="color: royalblue" href="/LogIn/LogIn">LogIn</a></li>
                
                <li><a style="color: purple" href="/SignUp/SignUp">Sign Up</a> </li>
                <li class="active"><a style="color: hotpink" href="/Main/Flowers">Flowers</a></li>
                <li ><a style="color:maroon" href="/ImageGallery/Gallery">Gallery</a></li>
                <li class="active"><a style="color: seagreen" href="/Main/Gifts">Gifts</a></li>
                
                <li><a  style="color: darkred" href="/Home/Contact">Contact Us</a></li>
            </ul>

        </div>
        </nav>


        @RenderBody()
        <hr />
        <footer style="margin-top: 3%">
            <p>&copy; @DateTime.Now.Year - Online Gifts and Flower Shopping</p>
        </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    @RenderSection("s1",required:false)
</body>
</html>
